In [109]:
import pandas as pd
from pandas import Series,DataFrame

# numpy, matplotlib, seaborn
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
#get_ipython().magic('matplotlib inline')

# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB

In [110]:
df = pd.read_csv("fpl_data.csv")

df.head()

,|,|__Club,|__Position,|__Appearances,|__Clean Sheets,|__Goals,|__Wins,|__Losses,|__Goalkeeping,|__Saves,...,|__Duels Won,|__Duels Lost,|__Successful 0/0s,|__Successful 5/5s,|__Successful /s,|__Successful 50/50s,|__Aerial Battles Won,|__Aerial Battles Lost,|__Errors Leading To Goal,|__Own Goals
0,Rolando Aarons,Newcastle United,Midfielder,14,NaN,2,3,9,NaN,NaN,...,42,53,NaN,NaN,NaN,10.0,6.0,9.0,1.0,NaN
1,Tammy Abraham,Swansea City,Forward,7,NaN,1,1,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Charlie Adam,Stoke City,Midfielder,196,NaN,33,64,78,NaN,NaN,...,955,"1,012",NaN,NaN,NaN,156.0,216.0,148.0,3.0,NaN
3,Adrián,West Ham United,Goalkeeper,106,29.0,0,38,38,NaN,367.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,0.0
4,Ibrahim Afellay,Stoke City,Midfielder,43,NaN,2,17,16,NaN,NaN,...,137,134,NaN,NaN,50.0,NaN,15.0,20.0,0.0,NaN

In [111]:
for col in df.columns:
    df.rename(columns={col : col[3:]}, inplace=True)

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 627 entries, 0 to 626
Data columns (total 64 columns):
                          626 non-null object
Club                      626 non-null object
Position                  626 non-null object
Appearances               627 non-null int64
Clean Sheets              272 non-null float64
Goals                     627 non-null int64
Wins                      627 non-null int64
Losses                    627 non-null int64
Goalkeeping               0 non-null float64
Saves                     67 non-null float64
Penalties Saved           67 non-null float64
Punches                   67 non-null float64
High Claims               67 non-null float64
Catches                   67 non-null float64
Sweeper Clearances        67 non-null float64
Throw Outs                67 non-null object
Goal Kicks                67 non-null object
Attack                    0 non-null float64
Goals Per Match           355 non-null float64
Goals With Header         560 non-null float64
Goals With Right Foot     560 non-null float64
Goals With Left Foot      560 non-null float64
Penalties Scored          355 non-null float64
Goals From Freekick       355 non-null float64
Shots                     355 non-null object
Shots On Target           355 non-null float64
Shooting Accuracy %       355 non-null object
Hit Woodwork              560 non-null float64
Big Chances Missed        355 non-null float64
Team Play                 0 non-null float64
Assists                   627 non-null int64
Passes                    627 non-null object
Passes Per Match          627 non-null float64
Big Chances Created       560 non-null float64
Crosses                   560 non-null object
Cross Accuracy %          445 non-null object
Through Balls             445 non-null float64
Accurate Long Balls       512 non-null object
Discipline                0 non-null float64
Yellow Cards              627 non-null int64
Red Cards                 627 non-null int64
Fouls                     627 non-null int64
Offsides                  560 non-null float64
Defence                   0 non-null float64
Goals Conceded            272 non-null float64
Tackles                   560 non-null float64
Tackle Success %          445 non-null object
Last Man Tackles          205 non-null float64
Blocked Shots             560 non-null float64
Interceptions             560 non-null float64
Clearances                560 non-null object
Headed Clearance          560 non-null object
Clearances Off Line       205 non-null float64
Recoveries                445 non-null object
Duels Won                 445 non-null object
Duels Lost                445 non-null object
Successful 0/0s           6 non-null float64
Successful 5/5s           110 non-null float64
Successful /s             3 non-null float64
Successful 50/50s         326 non-null float64
Aerial Battles Won        445 non-null float64
Aerial Battles Lost       445 non-null float64
Errors Leading To Goal    512 non-null float64
Own Goals                 272 non-null float64
dtypes: float64(39), int64(8), object(17)
memory usage: 313.6+ KB

In [113]:
df = df.drop(["Goalkeeping","Attack","Defence","Discipline","Team Play","Successful 0/0s","Successful /s","Successful 50/50s","Successful 5/5s"], axis = 1)

In [115]:
df["Names"]=df[""]

In [116]:
df = df[pd.notnull(df['Names'])]

In [117]:
df.drop([''], axis = 1, inplace = True)

In [118]:
for col in df.columns:
    df[col] = df[col].fillna("0")

In [119]:
df.head()

,Club,Position,Appearances,Clean Sheets,Goals,Wins,Losses,Saves,Penalties Saved,Punches,...,Headed Clearance,Clearances Off Line,Recoveries,Duels Won,Duels Lost,Aerial Battles Won,Aerial Battles Lost,Errors Leading To Goal,Own Goals,Names
0,Newcastle United,Midfielder,14,0,2,3,9,0,0,0,...,6,0,34,42,53,6,9,1,0,Rolando Aarons
1,Swansea City,Forward,7,0,1,1,2,0,0,0,...,4,0,0,0,0,0,0,0,0,Tammy Abraham
2,Stoke City,Midfielder,196,0,33,64,78,0,0,0,...,85,0,"1,000",955,"1,012",216,148,3,0,Charlie Adam
3,West Ham United,Goalkeeper,106,29,0,38,38,367,5,44,...,0,0,0,0,0,0,0,7,0,Adrián
4,Stoke City,Midfielder,43,0,2,17,16,0,0,0,...,5,0,197,137,134,15,20,0,0,Ibrahim Afellay

In [121]:
df.drop(['Appearances','Goals With Header','Goals With Right Foot' ,'Goals With Left Foot','Penalties Scored','Goals From Freekick','Shots','Shots On Target' ,'Passes', 'Headed Clearance','Headed Clearance'], axis = 1, inplace = True)

In [122]:
df.head()

,Club,Position,Clean Sheets,Goals,Wins,Losses,Saves,Penalties Saved,Punches,High Claims,...,Clearances,Clearances Off Line,Recoveries,Duels Won,Duels Lost,Aerial Battles Won,Aerial Battles Lost,Errors Leading To Goal,Own Goals,Names
0,Newcastle United,Midfielder,0,2,3,9,0,0,0,0,...,11,0,34,42,53,6,9,1,0,Rolando Aarons
1,Swansea City,Forward,0,1,1,2,0,0,0,0,...,6,0,0,0,0,0,0,0,0,Tammy Abraham
2,Stoke City,Midfielder,0,33,64,78,0,0,0,0,...,221,0,"1,000",955,"1,012",216,148,3,0,Charlie Adam
3,West Ham United,Goalkeeper,29,0,38,38,367,5,44,136,...,0,0,0,0,0,0,0,7,0,Adrián
4,Stoke City,Midfielder,0,2,17,16,0,0,0,0,...,13,0,197,137,134,15,20,0,0,Ibrahim Afellay

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 626 entries, 0 to 626
Data columns (total 45 columns):
Club                      626 non-null object
Position                  626 non-null object
Clean Sheets              626 non-null object
Goals                     626 non-null int64
Wins                      626 non-null int64
Losses                    626 non-null int64
Saves                     626 non-null object
Penalties Saved           626 non-null object
Punches                   626 non-null object
High Claims               626 non-null object
Catches                   626 non-null object
Sweeper Clearances        626 non-null object
Throw Outs                626 non-null object
Goal Kicks                626 non-null object
Goals Per Match           626 non-null object
Shooting Accuracy %       626 non-null object
Hit Woodwork              626 non-null object
Big Chances Missed        626 non-null object
Assists                   626 non-null int64
Passes Per Match          626 non-null float64
Big Chances Created       626 non-null object
Crosses                   626 non-null object
Cross Accuracy %          626 non-null object
Through Balls             626 non-null object
Accurate Long Balls       626 non-null object
Yellow Cards              626 non-null int64
Red Cards                 626 non-null int64
Fouls                     626 non-null int64
Offsides                  626 non-null object
Goals Conceded            626 non-null object
Tackles                   626 non-null object
Tackle Success %          626 non-null object
Last Man Tackles          626 non-null object
Blocked Shots             626 non-null object
Interceptions             626 non-null object
Clearances                626 non-null object
Clearances Off Line       626 non-null object
Recoveries                626 non-null object
Duels Won                 626 non-null object
Duels Lost                626 non-null object
Aerial Battles Won        626 non-null object
Aerial Battles Lost       626 non-null object
Errors Leading To Goal    626 non-null object
Own Goals                 626 non-null object
Names                     626 non-null object
dtypes: float64(1), int64(7), object(37)
memory usage: 225.0+ KB

In [124]:
dummies  = pd.get_dummies(df['Position'])

In [125]:
dummies.head()

   Defender  Forward  Goalkeeper  Midfielder
0         0        0           0           1
1         0        1           0           0
2         0        0           0           1
3         0        0           1           0
4         0        0           0           1

In [126]:
df = df.join(dummies)

In [127]:
df.drop(['Position'], axis = 1, inplace = True)

In [128]:
defender = df[df["Defender"] == 1]
goalkeeper = df[df["Goalkeeper"] == 1]
forward = df[df["Forward"] == 1]
midfielder = df[df["Midfielder"] == 1]

In [129]:
defender = defender.drop(["Goalkeeper","Forward","Midfielder"], axis = 1)
defender.head()

,Club,Clean Sheets,Goals,Wins,Losses,Saves,Penalties Saved,Punches,High Claims,Catches,...,Clearances Off Line,Recoveries,Duels Won,Duels Lost,Aerial Battles Won,Aerial Battles Lost,Errors Leading To Goal,Own Goals,Names,Defender
9,West Bromwich Albion,3,1,2,1,0,0,0,0,0,...,0,11,19,16,14,12,1,0,Ahmed Hegazi,1
10,AFC Bournemouth,10,4,21,20,0,0,0,0,0,...,2,159,215,119,71,52,0,0,Nathan Aké,1
13,Tottenham Hotspur,39,6,56,19,0,0,0,0,0,...,2,435,320,238,146,132,1,0,Toby Alderweireld,1
15,Liverpool,0,0,5,2,0,0,0,0,0,...,0,22,21,20,2,2,0,0,Trent Alexander-Arnold,1
17,West Bromwich Albion,15,0,24,29,0,0,0,0,0,...,0,357,303,241,36,41,1,0,Allan Nyom,1

In [130]:
goalkeeper = goalkeeper.drop(["Defender","Forward","Midfielder"], axis = 1)
goalkeeper.head()

,Club,Clean Sheets,Goals,Wins,Losses,Saves,Penalties Saved,Punches,High Claims,Catches,...,Clearances Off Line,Recoveries,Duels Won,Duels Lost,Aerial Battles Won,Aerial Battles Lost,Errors Leading To Goal,Own Goals,Names,Goalkeeper
3,West Ham United,29,0,38,38,367,5,44,136,50,...,0,0,0,0,0,0,7,0,Adrián,1
19,Blackpool,0,0,0,0,4,0,0,1,0,...,0,0,0,0,0,0,0,0,Ryan Allsop,1
38,Watford,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Daniel Bachmann,1
54,AFC Bournemouth,50,1,62,79,601,2,63,350,117,...,0,0,0,0,0,0,17,0,Asmir Begovic,1
70,Wigan Athletic,1,0,6,12,92,1,10,52,22,...,0,0,0,0,0,0,5,0,Adam Bogdan,1

In [131]:
forward = forward.drop(["Goalkeeper","Defender","Midfielder"], axis = 1)
forward.head()

,Club,Clean Sheets,Goals,Wins,Losses,Saves,Penalties Saved,Punches,High Claims,Catches,...,Clearances Off Line,Recoveries,Duels Won,Duels Lost,Aerial Battles Won,Aerial Battles Lost,Errors Leading To Goal,Own Goals,Names,Forward
1,Swansea City,0,1,1,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Tammy Abraham,1
5,AFC Bournemouth,0,10,16,24,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Benik Afobe,1
6,Manchester City,0,127,117,33,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Sergio Agüero,1
11,Arsenal,0,0,2,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Chuba Akpom,1
24,West Ham United,0,19,18,29,0,0,0,0,0,...,0,0,0,0,0,0,0,0,André Ayew,1

In [132]:
midfielder = midfielder.drop(["Goalkeeper","Forward","Defender"], axis = 1)
midfielder.head()

,Club,Clean Sheets,Goals,Wins,Losses,Saves,Penalties Saved,Punches,High Claims,Catches,...,Clearances Off Line,Recoveries,Duels Won,Duels Lost,Aerial Battles Won,Aerial Battles Lost,Errors Leading To Goal,Own Goals,Names,Midfielder
0,Newcastle United,0,2,3,9,0,0,0,0,0,...,0,34,42,53,6,9,1,0,Rolando Aarons,1
2,Stoke City,0,33,64,78,0,0,0,0,0,...,0,"1,000",955,"1,012",216,148,3,0,Charlie Adam,1
4,Stoke City,0,2,17,16,0,0,0,0,0,...,0,197,137,134,15,20,0,0,Ibrahim Afellay,1
7,Burnley,0,0,0,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Daniel Agyei,1
8,Brighton and Hove Albion,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Soufyan Ahannach,1

In [133]:
# for col in forward.columns:
#     if (forward[col] == '0').all() == True:
#         forward = forward.drop([col],axis = 1)

In [134]:
cols = list(forward)
nunique = forward.apply(pd.Series.nunique)
cols_to_drop = nunique[nunique == 1].index
forward = forward.drop(cols_to_drop, axis=1)

cols = list(midfielder)
nunique = midfielder.apply(pd.Series.nunique)
cols_to_drop = nunique[nunique == 1].index
midfielder = midfielder.drop(cols_to_drop, axis=1)

cols = list(defender)
nunique = defender.apply(pd.Series.nunique)
cols_to_drop = nunique[nunique == 1].index
defender = defender.drop(cols_to_drop, axis=1)

cols = list(goalkeeper)
nunique = goalkeeper.apply(pd.Series.nunique)
cols_to_drop = nunique[nunique == 1].index
goalkeeper = goalkeeper.drop(cols_to_drop, axis=1)

In [135]:
midfielder.to_csv('midfielder_train.csv')
forward.to_csv('forward_train.csv')
goalkeeper.to_csv('goalkeeper_train.csv')
defender.to_csv('defender_train.csv')